<div class="individual-movie-container">
    <a>
        <img src="@Movie.Poster" alt="Poster" class="movie-poster" />
    </a>

 </div>

@code {
    [Parameter] public Movie Movie { get; set; }
    [Parameter] public EventCallback<Movie> DeleteMovie  { get; set; }

}
