@page "/"
@inject SingletonService singleton
@inject IRepository repository
<p>Singleton count: @singleton.Value</p>
<div>
    <h3> Movie </h3>
    <MoviesList @ref="moviesList" Movies="movies" />

</div>
<button @onclick="AddNewMovie">
    Add new movie
</button>
@code {
    private MoviesList moviesList;
    private List<Movie> movies;
    protected async override Task OnInitializedAsync()
    {
        //await Task.Delay(2000);
        movies = repository.GetMovies();
    }
    private void AddNewMovie()
    {
        movies.Add(new Movie() { Title = "Movie Sample", ReleaseDate = DateTime.Today });
    }

}
